# Ignore everything by default
*

# Allow these files and folders
!app.py
!Procfile
!requirements.txt
!README.md
!.gitignore
!static/
!static/**
!templates/
!templates/**
!Dockerfile
!Dockerfile.dev
!docker-compose.yml
!docker-compose.prod.yml
!.dockerignore
!docker-scripts.sh
!docker-scripts.ps1
